@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* Fonts:
font-family: 'Poppins', sans-serif;
*/


:root {
  --myfont: 'Poppins', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--myfont);
}

.container {
  background-color: #111111;
}

/* ----------------------Navigation section--------------------- */

nav {
  display: flex;
  justify-content: space-between;
  /* background-color: rgb(136, 0, 255); */
  padding: 2em 2em;
}


.logo {
  width: 100%;
  margin-left: 3rem;
  /* background-color: white; */
}

.list {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  max-width: 750px;
  font-size: 0.5rem;
  font-weight: bold;
  flex-wrap: wrap;
  column-gap: 2em;

}

.list-item {
  text-decoration: none;
  color: #ffff;
  cursor: pointer;
  font-size: 1rem;
}

.list-item:hover {
  color: #FF3343;
}

@media screen and (max-width:760px) {

  /* ----Navbar--------- */
  .logo img {
    width: 40%;
  }

  .list-item {
    font-size: 0.7rem;
    gap: 0.5em;
  }

}




/* --------------------------Home Section-------------------- */





.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: 1rem;
}

.home-container img {
  align-self: center;
  max-width: 400px;
  width: 50%;
}

.home-content-box {
  width: 40%;
  max-width: 600px;
  margin-left: 1.5em;
}

.home-content h3 {
  color: #FF3343;
  font-size: 1.5rem;

}

.home-content h1 {
  font-size: 4rem;
  font-weight: bold;
  color: #ffff;

}

.home-content p {
  color: #C3C3C3;
  font-size: 1.1rem;
}

.btn {
  padding: 1rem 2rem;
  margin-top: 2.5em;
  background-color: #C91B28;
  color: #ffff;
  border: none;
  font-size: 1.2rem;
  font-weight: bold;
}

.btn:hover {
  cursor: pointer;
  background-color: #ffff;
  color: #C91B28;
}

@media screen and (max-width:700px) {

  /* ----Home Section--------- */
  

  .home-content{
    font-size: 0.5rem;
    margin-top: 6em;
  }
  .home-content h3 {
    font-size: 1rem;
  }
  .home-content h1 {
    font-size: 2.5rem !important;
    line-height: 1.4;
  }
  .home-content p {
    font-size: 1.1rem;
  }
  
}

@media screen and (max-width:450px){
  .home-container{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .home-content h1{
    margin-bottom: 0.5em;
  }
  .btn{
    margin-bottom: 1em;
    font-size: 1.8em !important;
  }
}



/* ------------------------Project section---------------- */




.project-section {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.project-section::before {
  width: 49%;
  content: "";
  background-color: #181818;
  height: 112%;
  position: absolute;
  z-index: -1;
}

.project-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.project-card {
  display: flex;
  flex-direction: column;
  width: 20%;
  min-width: 315px;
  padding: 2em;
  margin: 6em auto;
  background-color: #1E1E1E;
  transition: transform 0.5s ease;

}

.project-card:hover {
  transform: scale(1.12);
}

.project-card:nth-child(2) {
  background-color: #C91B28;
}

.project-card:nth-child(2) h4 {
  color: #ffff;
}

.project-card:nth-child(2) h4:hover {
  color: #000000;
}

.project-card img {
  width: 15%;
}

.project-card h2 {
  color: #ffff;
  font-size: 1.7rem;
  margin-top: 1em;
}

.project-card p {
  font-size: 1.4rem;
  margin-top: 1em;
  color: #E1E1E1;
}

.know-more {
  color: #C91B28;
  margin-top: 1em;
  font-size: 1.2rem;
}

.know-more:hover {
  color: #3aff00;
  cursor: pointer;
}


@media  (max-width:945px) {
  .project-card{
    margin: 3em auto !important;
  }
  .project-section::before{
    width: 52%;
    height: 105%;
    
  }
}


/* ---------------------Statistics sub section--------------- */


.project-statistics {
  display: flex;
  justify-content:  center;
  align-items: center;
  margin-top: 3em;
  width: 100%;
}

.experience {
  text-align: center;
  width: 40%;
  margin-left: -200px;
}

.experience h1 {
  font-size: 8rem;
  color: #FF3343;
  padding-left:1em ;
}

.experience p {
  color: #ffff;
  font-size: 1.7rem;
  font-weight: 600;
  margin-top: -1em;
  padding-left: 4em ;
}

.project-statistics-contents {
  width: 50%;
  max-width: 600px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  
}

.project-statistics-content {
  display: flex;
  flex-direction: column;
  background-color: #1E1E1E;
  text-align: center;
  max-width: 300px;
  margin: 1em;
  padding: 1em 0;
}

.project-statistics-content h2 {
  font-size: 4rem;
  color: #FF3343;

}

.project-statistics-content p {
  font-size: 1.5rem;
  color: #ffff;
}


@media screen and (max-width:830px) {
  .project-statistics{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .experience{
    margin-bottom: 1.5em;
    width: 60% ;
    margin: 1em auto;
   
  }
  .experience h1{
    padding-left: 0;
  }
  .experience p{
    padding-left: 0;
  }

  .project-statistics-contents{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }

  .project-statistics-content{
    width: 48%;
    padding: 1em 2em;
  }
}




/* ------------------------------------Features Section------------------------- */

.features-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 10em;
  position: relative;
}

.feature-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em 10em;
  color: #ffff;
}

.features-heading{
    width: 100%;
    max-width: 500px;
  
}

.feature-top h2 {
  font-size: 2rem;
  margin-bottom: 0.2em;
}

.feature-button {
  background-color: #FF3343;
  margin-top: 1em !important;
  padding: 1em 2em !important;
  text-align: center;
  font-size: 1em !important;
  max-width: 200px;
}


@media  screen and (max-width:1000px) {
  .feature-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .features-heading{
    width: 100%;
    margin: 0.5em 0;
    padding: 0;
  }

}

@media  screen and (max-width:500px){
  
  .features-heading{
    width: 210%;
  }
  .features-heading h2{
    font-size: 1.5rem ;
  }
  
}





/* ------------Features  Card Section --------------------- */

.feature-cards {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: 1fr 1fr;
  place-content:center;
  row-gap: 1em;
  column-gap: 3.5em;
  margin: 2em 10em;
  
}

.feature-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.5s ease;
}

.feature-card:hover {
  transform: scale(1.12);
}

.feature-img {
  background-color: #1E1E1E;
  padding: 2em;
}

.feature-card img {
  width: 100%;
}

.feature-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 3em 0em 4em 0em;
  color: #ffff;
}

.feature-name p {
  margin-top: 0.5em;
}


@media screen and (min-width:1200px) {
  .feature-cards{
    margin: 2em 15em;
  }
}



/* ----------------------------------------Contact section------------------------ */



.contact-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #1E1E1E;
}

.contact-content {
  padding: 5em;
  color: #ffff;
  background-color: red;
  max-width: 800px;
}

.contact-content h1 {
  font-size: 3rem;
  font-family: sans-serif;
}

.contact-content p {
  margin-top: 1em;
  font-family: sans-serif;
  font-size: 1.2em;
}

.contact-button {
  align-self: flex-start;
  margin-top: 8em;
  background-color: #FF3343
}

@media screen and (max-width:800px) {
  .contact-section{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .contact-button{
    margin:1em auto;
  }
}




/* --------------------------------------Footer Section---------------------------- */
.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: red;
}

footer {
  background-color: #1E1E1E;
  display: flex;
  justify-content: space-around;
}

footer>img {
  margin: 3em 1em;
}

.nav-bottom-container{
  margin: 4em auto;
}

.nav-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto ;

}

.nav-bottom a {
  text-decoration: none;
  color: #ffff;
  padding: 1em 2em;
  font-family: var(--myfont);
  font-size: 0.8em;
  cursor: pointer;
}

.nav-bottom a:hover {
  color: #C91B28;
}


.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  width: 80%;
  padding-right: 15em;
}


.social-media img {
  cursor: pointer;
  margin: 0em 1.5em;
}


@media screen and (max-width:600px) {
  .nav-bottom{
    flex-direction: column;
  }
  footer{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .social-media{
    margin: 1em 0;
    padding: 1em 0;
  }
}

/* -----------------------------------------------End----------------------------- */